<label for="title">
	<f:translate key="tx_gbevents_domain_model_event.title"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textbox property="title"/><br/>

<label for="teaser">
	<f:translate key="tx_gbevents_domain_model_event.teaser"/>
</label><br/>
<f:form.textarea property="teaser" cols="40" rows="15"/><br/>

<label for="description">
	<f:translate key="tx_gbevents_domain_model_event.description"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textarea property="description" cols="40" rows="15"/><br/>

<label for="location">
	<f:translate key="tx_gbevents_domain_model_event.location"/>
</label><br/>
<f:form.textbox property="location"/><br/>

<label for="eventDate">
	<f:translate key="tx_gbevents_domain_model_event.event_date"/>
	<span class="required">(required)</span>
</label><br/>
<f:form.textbox property="eventDate" value="{event.eventDate->f:format.date()}"/><br/>

<label for="eventTime">
	<f:translate key="tx_gbevents_domain_model_event.event_time"/>
</label><br/>
<f:form.textbox property="eventTime"/><br/>
